@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

$bg-color: #efefef;
$text-color: #4f4f4f;
$secondy-text-color: #D9DADA;
$highlight-text-color: white;
$button-color: #6cdcac;

body {
	font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    text-align: center;
}

.hero {
	max-width: 100em;
	margin: 0 auto;
	background: url("/images/find-an-agent-hero.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: $highlight-text-color;

    header {
        img {
            width: 8em;
            height: 2em;
            float: left;
            margin: 1em 0 0 4em;
            padding: 0.5em 1em;
        }
        ul {
            float: right;
            li {
                float: left;
                margin: 1em 0.5em;
                padding: 0.5em 1em;
                border: 1px solid transparent;
                border-radius: 2px;

                &:last-child {
        			border: 1px solid $highlight-text-color;
        			margin: 1em 4em 1em 0.5em;
    			}
            }
        }
        @include clearfix;
    }

    h1 {
    	font-size: 4em;
    	padding: 1em 0 .5em 0;
    	font-weight: bold;
    }

    h2 {
    	font-size: 2em;
    	color: #d9dada;
    }

    form {
    	padding: 4em 0 2em 0;

    	input[type="text"] {
    		padding: 1em;
    		border: 0;
    		width: 18em;
    		border-radius: 2px 0 0 2px;
        	background: $bg-color;
        	opacity: .3;
    	}

    	input[type="button"] {
	        color: $highlight-text-color;
	        padding: 1em;
	        border: 0;
	        width: 6em;
	        border-radius: 0 2px 2px 0;
	        background-color: lightgreen;
	        text-transform: uppercase;
    	}
    }
}
